<footer class="pt-10 text-white pb-4">
    <div class="w-full max-w-xl mx-auto p-4 flex flex-col gap-4 md:gap-0 md:flex-row justify-between items-center">
        <a href="/" class="text-2xl font-bold">Kilauea</a>
        
        <nav>
            <ul class="flex flex-wrap gap-4 md:gap-6 justify-center items-center">
                <li><a href="/privacidad" class="hover:underline hover:text-gray-300 transition">Privacidad</a></li>
                <li><a href="/aviso-legal" class="hover:underline hover:text-gray-300 transition">Aviso legal</a></li>
                <li><a href="/politica-cookies" class="hover:underline hover:text-gray-300 transition">Política de cookies</a></li>
            </ul>
        </nav>
    </div>

    <div class="text-center">
        <small class="opacity-80">© 2025 Kilauea. Todos los derechos reservados.</small>
    </div>
</footer>