<main class="max-w-4xl mx-auto justify-center items-center px-4 py-20 flex-col gap-4">
    <p class="text-xl text-black/80 text-center text-balance">
        Bienvenido a Kilauea, tu agencia que transforma ideas en experiencias inolvidables.
    </p>
    <h2 class="text-5xl font-bold text-black text-center">
        Descubre destinos de ensueño con nosotros
    </h2>